body { font-size: 1.3em; }

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.main-search{
	padding-bottom:10px;
	padding-left:10px;
}


.dark-blue {
	color: #000080;
}

.red{
	color: #d14f30;
}
.white {
    color: #ffffff;
}

.cyan {
	color: #3dd6ad
}

.btn-red { 
  color: #FFFFFF; 
  background-color: #D14F30; 
  border-color: #D14F30; 
} 
 
.btn-red:hover, 
.btn-red:focus,  
.btn-red.active, 
.open .dropdown-toggle.btn-red { 
  color: #FFFFFF; 
  background-color: #BA2B07; 
  border-color: #D14F30; 
} 
 

.btn-red.active, 
.open .dropdown-toggle.btn-red { 
  background-image: none; 
} 
 
.btn-red.disabled, 
.btn-red[disabled], 
fieldset[disabled] .btn-red, 
.btn-red.disabled:hover, 
.btn-red[disabled]:hover, 
fieldset[disabled] .btn-red:hover, 
.btn-red.disabled:focus, 
.btn-red[disabled]:focus, 
fieldset[disabled] .btn-red:focus, 
.btn-red.disabled:active, 
.btn-red[disabled]:active, 
fieldset[disabled] .btn-red:active, 
.btn-red.disabled.active, 
.btn-red[disabled].active, 
fieldset[disabled] .btn-red.active { 
  background-color: #D14F30; 
  border-color: #D14F30; 
} 
 
.btn-red .badge { 
  color: #D14F30; 
  background-color: #FFFFFF; 
}

.activeView-table {
	margin-left:10px;
}

.mini-map{
	height: 150px;
	width: 100%;
}

.full-map{
	height: 100%;
	width: 100%;		
}
.google-map, .angular-google-map,
.angular-google-map-container { 
	height: 100%;	
	width: 100%;
}


.map-overlay-panel-toggle {      
  top : 10px;
  right : 10px; /*2em;*/	  
  position: absolute;   
  z-index: 50;
  width: 200px;
  background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
  background: rgba(54, 25, 25, .5);
  padding:8px 10px 8px 10px;
}

.map-overlay-panel-toggle .col-xs-3{
	padding:0px 8px 0px 8px;
}

.menu-icon-toggle {      
  top : 4em;
  left : 0px;      
  position: absolute;   
  z-index: 50;
  padding:10px 10px 10px 0px;
}




#logo-menu{  
  bottom : 60px;
  left : 0.5em;     
  width:100px;  
  display:block;  
  position: absolute;   
  z-index: 50;
}
    
    
#logo-menu  img{  
  width:120px;  
}



/* textbox css*/
.border-none, .border-none:focus {
	border: none;
	box-shadow: none
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

.hasEvent {
	pointer-events: auto; 
	cursor: pointer;
}


/* style icon */
.inner-addon .leftglyphicon{
  position: absolute;
  padding: 10px;
}

/* align icon */
.left-addon .leftglyphicon  { left:  0px;}
.right-addon .rightglyphicon { right: 0px;
}


/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


/*overlay layer panel*/ 
.layer-panel{
  background:  #ffffff;  
  display: block;
  width: 30em;
  overflow: auto;
  position: absolute;
  left : 0em;	
  height: 100%;
  z-index: 55;    	
 
}




.layer-panel.ng-hide {
  animation: fadeOutLeft 1s;
}


.no-animation {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
}



.layer-panel-header{
	margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
	
}

.accordion-header-override .panel-title{
	font-size:15px;
}

.panel-selected>.panel-heading {
  background-color: #d14f30;  
  color: white;  
}

.nested-accordion .panel-heading {
    padding: 5px 5px;
    background-color: #c2dcea;
    color: #086f84;
}

.nested-accordion select{
	width:100%;
}

.nested-accordion .row{
    padding:3px 3px;
}

.fa-round {
  padding-top: 3px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 1.5em;
  color: #337ab7;
}

.fa-round-inverse,
.icon-box:hover .fa-round,
.icon-xs-side:hover .fa-round,
.icon-sm-side:hover .fa-round,
.icon-lg-side:hover .fa-round {
  background-color: #d14f30;
  color: white;
  font-size: 1.2em;
}

.layer-selection .layer-selected{
    background-color:#f0f8ff;    
    
}


.layer-selection .layer-row:hover{
    background-color: #e1f1ff;
}



.progress {
  background-color: #838383;

}


.margin-right{
	margin-right: 5px;
}

.margin-top-5{
    margin-top: 5px;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}

.hr-10{
	margin-top:10px;
	margin-bottom:10px;
}

.render-status-panel div{
	font-size:12px;
	padding-left:3px;
}

.quick-menu div,
.quick-menu div a{	
	font-weight: bold;
	color: white;
	text-align: center;
}


.middle-mask{	
  width: 100%;
  height: 100%;  
  display: table;
  text-align: center;
}

.middle-mask > span {
  display: table-cell;
  vertical-align: middle;    
}


.desktop-only{
	display:block;
}

.mobile-only{
    display:none;
}
