body { font-size: 1.3em; }

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.glyphicon.glyphicon-menu-left {
	font-size: 1.8em;
}



.btn-block {
    margin: 3px;
}

.ng-binding, .ng-scope  {
    padding-left: 0px;
    padding-right: 0px;
}

.dark-blue {
	color: #000080;
}

.activeView-table {
	margin-left:10px;
}

.mini-map{
	height: 150px;
	width: 100%;
}

.full-map{
	height: 100%;
	width: 100%;		
}
.google-map, .angular-google-map,
.angular-google-map-container { 
	height: 100%;	
	width: 100%;
}

.gm-style * {
  width:auto;
  height:auto;
}

.map-overlay-panel-toggle {      
  top : 50px;
  left : 2em;	  
  position: absolute;   
  z-index: 50;
 
}

#floating-progressbar{
	  display : none;  
}

@media screen and (max-width: 658px) {
	.map-overlay-panel-toggle {      
	  top : 10px;
	  left : 1em;     
	  position: absolute;   
	  z-index: 50;
	}
	
	#inputValidation{
	   width : 200px;
	}
	
	#floating-progressbar{	
	  display:block;  
	  top : 60px;
	  left : 2em;     
	  position: absolute;   
	  z-index: 50;
	  width:150px;  
	}
}






/* textbox css*/
.border-none, .border-none:focus {
	border: none;
	box-shadow: none
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

.hasEvent {
	pointer-events: auto; 
	cursor: pointer;
}


/* style icon */
.inner-addon .leftglyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .leftglyphicon  { left:  0px;}
.right-addon .rightglyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


/*overlay layer panel*/ 
.layer-panel{
  background:  #ffffff;  
  display: block;
  width: 25em;
  overflow: auto;
  position: absolute;
  left : 0em;	
  height: 100%;
  z-index: 55;    	
 
}

@media screen and (min-width: 658px) {
    .layer-panel{
	  width: 30em;	 
	}
}


.layer-panel.ng-hide {
  animation: fadeOutLeft 1s;
}


.no-animation {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
}



.layer-panel-header{
	margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
	
}

.accordion-header-override .panel-title{
	font-size:15px;
}

.panel-selected .panel-heading {
  background-color: #d14f30;  
  color: white;  
}

.fa-round {
  padding-top: 3px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 1.5em;
  color: #337ab7;
}

.fa-round-inverse,
.icon-box:hover .fa-round,
.icon-xs-side:hover .fa-round,
.icon-sm-side:hover .fa-round,
.icon-lg-side:hover .fa-round {
  background-color: #d14f30;
  color: white;
  font-size: 1.2em;
}

.layer-selection .layer-selected{
    background-color:#f0f8ff;    
    
}


.layer-selection .layer-row:hover{
    background-color: #e1f1ff;
}

.layer-progress-bar{
	height:5px;
	padding:0;
	margin:5px 0 0 0;
	width: 80%;
}

.progress {
  background-color: #838383;

}


.margin-right{
	margin-right: 5px;
}

.render-status-panel div{
	font-size:12px;
	padding-left:3px;
}
