<div class="container-fluid animated fadeInleft" ng-controller="activePanelCtrl">
	<div>
		<div>				
			<div class="layer-panel-header">
				<img src="img/AuScope-logo-220.jpg">
				<i class="pull-right glyphicon hasEvent" ng-click="$parent.showActivePanel = !$parent.showActivePanel" ng-class="{'glyphicon glyphicon-minus': true}"></i>
			</div>			
		</div>
		<div>
			
			
			<div>
				<table class="table activeView-table">
					<tr>
						<td><label>Label 1:</label></td>
						<td>value la di da</td>
					</tr>
					<tr>
						<td><label>Label 1:</label></td>
						<td>value la di da</td>
					</tr>
					<tr>
						<td><label>Label 1:</label></td>
						<td>value la di da</td>
					</tr>
					<tr>
						<td><label>Label 1:</label></td>
						<td>value la di da</td>
					</tr>
				</table>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-3"><i class="fa fa-area-chart fa-2x dark-blue" aria-hidden="true"></i></div>
				<div class="col-xs-3"><i class="fa fa-download fa-2x dark-blue" aria-hidden="true"></i></div>
				<div class="col-xs-3"><i class="fa fa-key fa-2x dark-blue" aria-hidden="true"></i></div>
				<div class="col-xs-3"><i class="fa fa-ellipsis-v fa-2x dark-blue" aria-hidden="true"></i></div>
			</div>	
		</div>				
	</div>
</div>



