<div class="container-fluid animated fadeInleft" ng-controller="infoPanelCtrl">
	<div>		
		<div>
			
			<div id="map" class="mini-map">
				<!-- ui-gmap-google-map  center='map.center' zoom='map.zoom' options="map.options" control="map.control">
					
				</ui-gmap-google-map-->
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12"><h4>Abstract</h4>{{infoPanelCsw.name}}</div>
				<div class="col-xs-12"><h4>Summary</h4>This is a summary of the quick brown fox that jumped over the lazy dog</div>
				<div class="col-xs-12"><h4>Capability</h4><a href="google.com">Link to capability</a></div>				
			</div>	
			<hr>
			
		</div>				
	</div>
</div>

