<div  ng-controller="infoPanelCtrl">
    <div>        
        <div>
            <div id="map" class="mini-map">
                <ui-gmap-google-map  center='map.center' zoom='map.zoom' options="map.options" events="map.events" control="map.control">
                </ui-gmap-google-map>
            </div>
            <hr>            
            <div>
                <div ng-if="infoPanelCsw.name != undefined" class="col-xs-12"><h4>Abstract</h4>{{infoPanelCsw.name}}</div>
                <div ng-if="infoPanelCsw.description != undefined && infoPanelCsw.description != ''" class="col-xs-12"><h4>Summary</h4>{{infoPanelCsw.description}}</div>
                <div ng-if="infoPanelCsw.iconUrl != undefined" class="col-xs-12">
                    <h4>Icon</h4>
                    <img ng-src="{{infoPanelCsw.iconUrl}}" class="info-panel-icon">
                </div>
                <div ng-if="infoPanelCsw.cswRecords.length > 0" class="col-xs-12"><h4>Details</h4>
                    <small>
                        <div ng-controller="collapseInfoPanelCtrl">
                        
                             <uib-accordion close-others="true" class="nested-accordion">
                                <div ng-repeat="cswRecord in infoPanelCsw.cswRecords.slice(0,10)" uib-accordion-group class="panel-info" is-open="false" 
                                    ng-mouseenter="highlightOnPreviewMap(infoPanelCsw.name, cswRecord.adminArea)" 
                                    ng-mouseleave="lowlightOnPreviewMap(infoPanelCsw.name, cswRecord.adminArea)">
                                    
                                    <uib-accordion-heading ng-class="info-details-header">{{ cswRecord.adminArea !='' && cswRecord.adminArea!=null ? cswRecord.adminArea : 'More Information' }}
                                       <span ng-click="addCSWRecord(infoPanelCsw,cswRecord);$event.stopPropagation();$event.preventDefault();" class="pull-right label label-primary info-panel-add"><i class="fa fa-map-marker"></i> Add</span>                                                              
                                    </uib-accordion-heading>
                                    
                                    <div class="row info-panel-text"><strong>Contact Org:</strong> {{cswRecord.contactOrg}}</div>
                                    <div class="row info-panel-text"><strong>Description:</strong> {{cswRecord.description}}</div>
                                    <div class="row info-panel-text"><strong>Name:</strong> {{cswRecord.name}}</div>
                                    <div class="row info-panel-text"><strong>Info URL:</strong><a target="_blank" ng-href="{{cswRecord.recordInfoUrl}}">Link to Geonetwork Record</a></div>
                                    <div class="info-panel-text" ng-repeat="onlineResource in cswRecord.onlineResources">
                                        <div ng-if="onlineResource.type != 'Unsupported'">
                                            <div class="row"><a target="_blank" ng-href="{{onlineResource.url}}">{{onlineResource.type}} endpoint url</a>  <span class="label label-default">{{onlineResource.type}} </span></div>
                                        </div>
                                    </div>
                                    <div class="row info-panel-text" ng-if="wmsUrls[cswRecord.adminArea]!=undefined">
                                        <strong>WMS Preview: </strong>
                                        <img ng-src="{{wmsUrls[cswRecord.adminArea]}}" height="100" width="100" alt="Loading preview...">
                                    </div>
                                    <div class="row info-panel-text" ng-if="wmsLegends[cswRecord.adminArea]!=undefined">
                                        <strong>Legend: </strong>
                                        <img ng-src="{{wmsLegends[cswRecord.adminArea]}}" alt="Loading legend...">
                                    </div>
                                    <hr>
                                    
                                </div>
                             </uib-accordion>  
                        </div>
                    </small>
                </div>
                
            </div>                
        </div>                
    </div>
</div>

