<div class="animated fadeInleft" ng-controller="layerPanelCtrl">
	
	<div>
		<div>				
			<div class="layer-panel-header">
				<img src="img/AuScope-logo-220.jpg">
				<i class="pull-right glyphicon hasEvent" ng-click="$parent.showlayerPanel = !$parent.showlayerPanel" ng-class="{'glyphicon glyphicon-minus': true}"></i>
			</div>			
		</div>
		<div>
			<uib-accordion close-others="true">			   
			   <div ng-repeat="(group,records) in cswRecords" uib-accordion-group class="panel-info" is-open="status[group]">
			   	 
			      <uib-accordion-heading>
			        {{group}} <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status[group], 'glyphicon glyphicon-plus': !status[group]}"></i>
			      </uib-accordion-heading>
			      <div>
			      	<table class="table">
					   <tr ng-repeat-start="cswRecord in records" ng-click="isFilterCollapsed[cswRecord.id] = !isFilterCollapsed[cswRecord.id]">
						   	<td><label>{{cswRecord.name}}</label></td>
						   	<td><i class="fa fa-info-circle hasEvent" aria-hidden="true" ng-click="showInfoPanel[cswRecord.id] = !showInfoPanel[cswRecord.id];$event.stopPropagation();"></i></td>
						   	<td><i class="fa fa-map" aria-hidden="true"></i></td>
					   </tr>
					   <tr uib-collapse="!showInfoPanel[cswRecord.id]"><td colspan="3"><info-panel  info-panel-csw="cswRecord" ng-if="showInfoPanel[cswRecord.id]" class='layer-panel-nested animated fadeInLeft'></info-panel><td></tr>
					   <tr ng-repeat-end uib-collapse="!isFilterCollapsed[cswRecord.id]">
				   		<td class="warning animated fadeInLeft" colspan="3">
				   			<div class="form-group">
						      Mine Name
						      <input type="text" class="form-control">
						    </div>
						    <div class="form-group">
						      Drilling Date
						      <input type="text" class="form-control">
						    </div>
				   		</td>
					   </tr>
					    
					</table>
			      
			      </div>	
			      
			    </div>
			    			    
			</uib-accordion>
		</div>				
	</div>
</div>

