<div class="animated fadeInleft" ng-controller="layerPanelCtrl">
	
	<div>
		<div>				
			<div class="layer-panel-header">
				<img src="img/AuScope-logo-220.jpg">
				<i class="pull-right glyphicon hasEvent" ng-click="$parent.showlayerPanel = !$parent.showlayerPanel" ng-class="{'glyphicon glyphicon-minus': true}"></i>
			</div>			
		</div>
		<div>
			<uib-accordion close-others="true">			   
			   <div ng-repeat="(group,records) in cswRecords" uib-accordion-group ng-class="{'panel-selected': status[group], 'panel-primary': !status[group]}" is-open="status[group]">
			   	 
			      <uib-accordion-heading>
			        {{group}} <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status[group], 'glyphicon glyphicon-plus': !status[group]}"></i>
			      </uib-accordion-heading>
			      <div>
			      	<table class="table table-sm layer-selection">
					   <tr ng-repeat-start="cswRecord in records" ng-click="togglePanels('filter',cswRecord.id)" class="layer-row" ng-class="{'layer-selected': isExpanded(cswRecord.id)}">
						   	<td>{{cswRecord.name}}</td>
						   	<td class="icon-box"><i class="fa fa-filter fa-round hasEvent" ng-class="{'fa-round-inverse': showPanel.filter[cswRecord.id]}" aria-hidden="true" ng-click="togglePanels('filter',cswRecord.id);$event.stopPropagation();"></i></td>
						   	<td class="icon-box"><i class="fa fa-info-circle fa-round hasEvent" ng-class="{'fa-round-inverse': showPanel.info[cswRecord.id]}" aria-hidden="true" ng-click="togglePanels('info',cswRecord.id);$event.stopPropagation();"></i></td>
						   	<td class="icon-box"><i class="fa fa-map fa-round hasEvent" ng-class="{'fa-round-inverse': showPanel.analytic[cswRecord.id]}" aria-hidden="true" ng-click="togglePanels('analytic',cswRecord.id);$event.stopPropagation();"></i></td>
					   </tr>					   
					   <tr class="animated warning" ng-class="{'fadeInDown': showPanel.filter[cswRecord.id], 'no-animation': !showPanel.filter[cswRecord.id]}" ng-show="showPanel.filter[cswRecord.id]">
                        <td colspan="4">
                            <div class="form-group">
                              Mine Name
                              <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                              Drilling Date
                              <input type="text" class="form-control">
                            </div>
                        </td>
                       </tr>
					   <tr class="warning" ng-if="showPanel.info[cswRecord.id]"  >
					        <td colspan="4">
					           <info-panel  info-panel-csw="cswRecord"  class='layer-panel-nested'></info-panel>
					         </td>
					    </tr>
					   <tr class="animated warning" ng-class="{'fadeInDown': showPanel.analytic[cswRecord.id], 'no-animation': !showPanel.analytic[cswRecord.id]}" ng-show="showPanel.analytic[cswRecord.id]" ng-repeat-end>
                        <td colspan="4">
                            <p>Add some analytic quick brown fox that jumped over the lazy dog here</p>
                        </td>
                       </tr>
					    
					</table>
			      
			      </div>	
			      
			    </div>
			    			    
			</uib-accordion>
		</div>				
	</div>
</div>

