<div class="animated fadeInleft" ng-controller="layerPanelCtrl">
	
	<div>
		<div>				
			<div class="layer-panel-header">
				<img src="img/AuScope-logo-220.jpg">
				<i class="pull-right glyphicon hasEvent" ng-click="$parent.showlayerPanel = !$parent.showlayerPanel" ng-class="{'glyphicon glyphicon-menu-left': true}"></i>
			</div>			
		</div>
		<div>
			<uib-accordion close-others="true">			   
			   <div ng-repeat="(group,records) in cswRecords" uib-accordion-group ng-class="{'panel-selected': status[group].isOpen, 'panel-primary': !status[group].isOpen}" is-open="status[group].isOpen">
			   	 
			      <uib-accordion-heading>
			        {{group}} <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status[group].isOpen, 'glyphicon glyphicon-plus': !status[group].isOpen}"></i>
			      </uib-accordion-heading>
			      <div>
			      	<table class="table table-sm table-inverse layer-selection">
			      	  <thead>
				        <tr>
					      <th colspan="4">Layers</th>					      
					    </tr>
					  </thead>
					   <tr ng-repeat-start="cswRecord in records" ng-click="togglePanels('filter',group,cswRecord.id)" class="layer-row" ng-class="{'layer-selected':  status[group][cswRecord.id].isExpanded}">
						   	<td>{{cswRecord.name}}<br>
						   	  <div ng-show="renderStatus[cswRecord.id].max"><uib-progressbar  class="progress-striped active" style="height:3px" type="warning" max="renderStatus[cswRecord.id].max" value="renderStatus[cswRecord.id].complete"></uib-progressbar></div>
						   	</td>
						   	<td class="icon-box"><i class="fa fa-filter fa-round hasEvent" ng-class="{'fa-round-inverse': status[group][cswRecord.id].panels.filter}" aria-hidden="true" ng-click="togglePanels('filter',group,cswRecord.id);$event.stopPropagation();"></i></td>
						   	<td class="icon-box"><i class="fa fa-info-circle fa-round hasEvent" ng-class="{'fa-round-inverse': status[group][cswRecord.id].panels.info}" aria-hidden="true" ng-click="togglePanels('info',group,cswRecord.id);$event.stopPropagation();"></i></td>
						   	<td class="icon-box"><i class="fa fa-map fa-round hasEvent" ng-class="{'fa-round-inverse': status[group][cswRecord.id].panels.analytic}" aria-hidden="true" ng-click="togglePanels('analytic',group,cswRecord.id);$event.stopPropagation();"></i></td>
					   </tr>
					  	
                             
                       	
					  
					 
					  				   
					   <tr class="animated layer-selected" ng-class="{'fadeInDown': status[group][cswRecord.id].panels.filter, 'no-animation': !status[group][cswRecord.id].panels.filter}" ng-show="status[group][cswRecord.id].panels.filter">
                        <td colspan="4">
                            <filter-panel  filter-panel-csw="cswRecord"  class='layer-panel-nested'></filter-panel>                                  
                        </td>
                       </tr>
					   <tr class="layer-selected" ng-if="status[group][cswRecord.id].panels.info"  >
					        <td colspan="4">
					           <info-panel  info-panel-csw="cswRecord" ></info-panel>
					         </td>
					    </tr>
					   <tr class="animated layer-selected" ng-class="{'fadeInDown': status[group][cswRecord.id].panels.analytic, 'no-animation': !status[group][cswRecord.id].panels.analytic}" ng-show="status[group][cswRecord.id].panels.analytic" ng-repeat-end>
                        <td colspan="4">
                            <p>Add some analytic quick brown fox that jumped over the lazy dog here</p>
                        </td>
                       </tr>
					    
					</table>
			      
			      </div>	
			      
			    </div>
			    			    
			</uib-accordion>
		</div>				
	</div>
</div>

