<div class="container-fluid" ng-controller="querierPanelCtrl" ng-init="init('xmlPanel')">
	<div>
		<div>				
			<div class="query-panel-header">
				<img src="img/AuScope-logo-220.jpg">
				<i class="pull-right fa fa-times hasEvent" ng-click="$parent.showQuerierPanel = !$parent.showQuerierPanel; resetTree($parent.showQuerierPanel); resetCarousel($parent.showQuerierPanel);"></i>
			</div>			
		</div>
		
		<div>
			<div id="xmlPanel" class="querier-div">
                <div ng-repeat="(layerName, nameList) in layerIndex">
                    <div class="label label-info">{{layerName}}</div>               
			        <uib-accordion close-others="true">
	                    <div ng-repeat="name in nameList" uib-accordion-group is-open="status[name].isOpen" class="panel-default">
	                        <uib-accordion-heading><span ng-click="parseTree(name)">{{name}}<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status[name].isOpen, 'glyphicon glyphicon-plus': !status[name].isOpen}"></i></span></uib-accordion-heading>
	                        <div>
	                            <div
								    data-angular-treeview="true"
								    data-tree-id="{{'querierxmltreeviewer' + $index}}"
								    data-tree-model="JSONTreeStruct[name]"
								    data-node-id="id"
								    data-node-label="label"
								    data-node-children="children" >
								</div>
	                        </div>
	                    </div>
	                </uib-accordion>
                </div>
	        </div>
            <div ng-if="useCarousel">
                <div class="label coretray-label">Core Tray Images</div>
                <div id="Carousel" slick-carousel="{touchThreshold: 50, lazyLoad: 'ondemand', slidesToShow:1, slidesToScroll:1, rows:4, slidesPerRow:1, variableWidth: true}">
                    <div ng-repeat="slide in slides" class="slick-div">
                        <img class="coretray-img" data-lazy="{{slide.thumbURL}}" alt="Core Image" />
                        <div>
                            <span>{{slide.depthStr}}</span>
                            <a href="{{slide.carouselURL}}" target="_blank">
                                <i class="fa fa-download fa-2x slide-download" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="carouselBusy">
                <i class="fa fa-cog fa-spin fa-2x coretray-busy-icon" aria-hidden="true"></i>
            </div>
			<!-- <hr>
			<div class="row">
				<div class="col-xs-3"><i class="fa fa-area-chart fa-2x dark-blue" aria-hidden="true"></i></div>
				<div class="col-xs-3"><i class="fa fa-key fa-2x dark-blue" aria-hidden="true"></i></div>
				<div class="col-xs-3"><i class="fa fa-ellipsis-v fa-2x dark-blue" aria-hidden="true"></i></div>
			</div> -->	
	    </div>				
	</div>
</div>



