
	<div class="form-group m-b-10 m-r-10">							    						
		<div class="input-group" [ngClass]="{'has-success': searchMode}">									
			<input type="text" class="form-control input-sm" [(ngModel)]="searchText">
			<span *ngIf="!searchMode" class="input-group-addon hasEvent" (click)="search()">Search</span>
			<span *ngIf="searchMode" class="input-group-addon hasEvent" (click)="clearSearch()">Clear</span>
		</div>
	</div>
	<li class="has-sub" *ngFor="let layerGroup of layerGroups | getKey" >
		
	   		<a [hidden]="layerGroup.value.hide" href="javascript:;">
	            <b class="caret caret-right pull-right"></b>
	              {{layerGroup.key}} 
	        </a>
			<ul class="sub-menu">
				<li *ngFor="let layer of layerGroup.value" [ngClass]="{'active': layer.expanded}">
					<a [hidden]="layer.hide" (click)="layer.expanded = !layer.expanded">
						<div class="project-info">
							<span *ngIf="uiLayerModels[layer.id].statusMap.renderStarted" class="pull-right project-percentage hasEvent light-blue"><u (click)="openStatusReport(uiLayerModels[layer.id]); $event.stopPropagation();">{{uiLayerModels[layer.id].statusMap.completePercentage}}<i *ngIf="!uiLayerModels[layer.id].statusMap.containsError" class="fa fa-warning text-warning"></i></u></span>
							<div class="project-title">
								<i *ngIf="uiLayerModels[layer.id].statusMap.renderStarted" class="fa fa-ban text-danger" (click) = "removeLayer(layer);$event.stopPropagation();"></i>
									{{layer.name}}<span appStopPropagation (click)="processLayerAnalytic(layer)" *ngIf="analyticMap[layer.id]" class="hasEvent light-blue">analytic</span>
									<span *ngIf="layer.expanded && !uiLayerModels[layer.id].statusMap.renderStarted" class="fa fa-arrow-circle-down"></span>
							</div>
							<div *ngIf="uiLayerModels[layer.id].statusMap.renderStarted" class="progress progress-xs">
								<div class="progress-bar bg-gradient-blue-purple" [style.width]="uiLayerModels[layer.id].statusMap.completePercentage" role="progressbar"></div>
							</div>
						</div>
	
					</a>
					<div [hidden]="!layer.expanded" class="sidebar-panel-menu-show">
	
						 <div class="panel panel-inverse panel-info panel-with-tabs layer-panel animated  slideInRight">
	
							<div class="panel-heading">
								<ul id="panel-tab" class="nav nav-tabs pull-right">
									<li (click)="selectTabPanel(layer.id,'filterpanel')" [ngClass]="{'active': uiLayerModels[layer.id].tabpanel.filterpanel.expanded}"><a data-toggle="tab"><i class="fa fa-filter"></i> <span class="hidden-xs">Filter</span></a></li>
									<li (click)="selectTabPanel(layer.id,'infopanel')" [ngClass]="{'active': uiLayerModels[layer.id].tabpanel.infopanel.expanded}"><a data-toggle="tab"><i class="fa fa-info-circle"></i> <span class="hidden-xs">Info</span></a></li>
									<li (click)="selectTabPanel(layer.id,'downloadpanel')" [ngClass]="{'active': uiLayerModels[layer.id].tabpanel.downloadpanel.expanded}" class="desktop-only"><a data-toggle="tab"><i class="fa fa-download"></i> <span class="hidden-xs">Download</span></a></li>
								</ul>
	
							</div>
	
							<div id="panel-tab-content" class="tab-content ">
	
								<div class="tab-pane fade" [ngClass]="{'in active': uiLayerModels[layer.id].tabpanel.filterpanel.expanded}">
									<app-filter-panel *ngIf="uiLayerModels[layer.id].tabpanel.filterpanel.expanded "[layer]=layer></app-filter-panel>
								</div>
	
								<div class="tab-pane fade" [ngClass]="{'in active': uiLayerModels[layer.id].tabpanel.infopanel.expanded}">
									<info-panel *ngIf="uiLayerModels[layer.id].tabpanel.infopanel.expanded" [expanded]="uiLayerModels[layer.id].tabpanel.infopanel.expanded" [cswRecords]=layer.cswRecords [layer]=layer ></info-panel>
								</div>
								<div class="tab-pane fade" [ngClass]="{'in active': uiLayerModels[layer.id].tabpanel.downloadpanel.expanded}">
									<app-download-panel *ngIf="uiLayerModels[layer.id].tabpanel.downloadpanel.expanded" [layer]=layer></app-download-panel>
								</div>
	
							</div>
	
						</div>
					</div>
				</li>
			</ul>
		
	</li>
