 <div class="filter-form" ng-controller="loadFilterCtrl">
    <form>
        <div ng-repeat="mandatoryFilter in layer.filterCollection.mandatoryFilters">
            <div ng-if="mandatoryFilter.type == 'MANDATORY.CHECKBOX'">
                <div class="form-group  form-group-sm">
                    <label class="form-check-label">
					    <input class="form-check-input" type="checkbox" ng-model="mandatoryFilter.value">
					       {{mandatoryFilter.label}}
					  </label>                                    
                </div>
            </div> 
            <div ng-if="mandatoryFilter.type == 'MANDATORY.DROPDOWNSELECTLIST'">
                <div class="form-group  form-group-sm">
                    <label for="{{ 'filter-MANDATORY.DROPDOWNSELECTLIST' + $index }}">{{mandatoryFilter.label}}</label>
                    <div class="btn-group" uib-dropdown>
                        <button ng-init="setMandSelectList('-- choose a '+mandatoryFilter.label+' --')" id="{{ 'filter-MANDATORY.DROPDOWNSELECTLIST' + $index }}" type="button" class="btn btn-default btn-sm filter-form-button" uib-dropdown-toggle>
                            {{mandDropdownSelectLabel}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{ 'filter-MANDATORY.DROPDOWNSELECTLIST' + $index }}">
                            <li ng-repeat="option in mandatoryFilter.options"><a class="filter-form-select" ng-click="setMandSelectList(getKey(option)); mandatoryFilter.value=option[getKey(option)];">{{getKey(option)}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
                         
        </div>
    </form>
 
    <div ng-if="!layer.filterCollection.optionalFilters" class="alert alert-danger no-filter-subpanel" role="alert">
        <div class="row">
            <div class="col-xs-12 no-filter-msg">No Filtering option available for this layer.</div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn btn-info btn-sm" ng-click="addLayer(layer)">Add Layer</button>
            </div>
            <div ng-if="!isLayerAtFront(layer);" class="col-xs-3">
                <span class="expose-btn-txt">Expose</span>
                <i class="fa fa-clone fa-2x dark-blue expose-btn" ng-click="moveLayerToFront(layer)"></i>
            </div>
            <div ng-if="isLayerActive(layer);" ng-class="{'col-xs-offset-3':isLayerAtFront(layer)}" class="col-xs-5 opacity-slider">
                <div>Opacity</div>
                <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
            </div>
            
        </div>
    </div> 
 
 
    <fieldset ng-if="layer.filterCollection.optionalFilters" class="show-fieldset-borders">
         <legend>Optional Filters</legend>
	    <form>
            <label for="form-filter-selection">Select Filter:</label>        
		    <div ng-if="layer.filterCollection.optionalFilters" class="btn-group" uib-dropdown>
                <button id="form-filter-selection" type="button" class="btn btn-default btn-sm filter-form-button" uib-dropdown-toggle>
                    -- choose a filter --
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="form-filter-selection">
                    <li ng-repeat="filt in layer.filterCollection.optionalFilters"><a class="filter-form-select" ng-click="addFilter(filt, true)">{{filt.label}}</a></li>
                </ul>
		    </div>
	    </form>
	    
	    <hr class="hr-dark-scheme">
	    
	    <form>    
	        <div ng-repeat="optionalFilter in optionalFilters">
	            <div ng-if="optionalFilter.type=='OPTIONAL.TEXT'">
	                <div class="form-group  form-group-sm">
					    <label for="{{ 'filter-OPTIONAL.TEXT' + $index }}">{{optionalFilter.label}}:</label>
					    <input type="text" class="form-control" id="{{ 'filter-OPTIONAL.TEXT' + $index }}" ng-model="optionalFilter.value">				   
					</div>
	            </div> 
	            <div ng-if="optionalFilter.type=='OPTIONAL.DATE'">
	                <div class="form-group  form-group-sm">
	                    <label for="{{ 'filter-OPTIONAL.DATE' + $index }}">{{optionalFilter.label}}:</label>                     
				            <div class="input-group" id="{{ 'filter-OPTIONAL.DATE' + $index }}">
					            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" is-open="popup1.opened"  ng-model="optionalFilter.value" close-text="Close" alt-input-formats="altInputFormats" />
					            <span class="input-group-btn">
					                <button type="button" class="btn btn-default btn-sm" ng-click="popup1.opened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
					            </span>
					        </div>			               
	                </div>
	            </div> 
	            <div ng-if="optionalFilter.type=='OPTIONAL.DROPDOWNSELECTLIST'">
	                <div class="form-group form-group-sm">
				        <label for="{{ 'filter-OPTIONAL.DROPDOWNSELECTLIST' + $index }}">{{optionalFilter.label}}:</label>
                        <div class="btn-group" uib-dropdown>
                            <button ng-init="setOptSelectList('-- choose a '+optionalFilter.label+' --')" id="{{ 'filter-OPTIONAL.DROPDOWNSELECTLIST' + $index }}" type="button" class="btn btn-default btn-sm filter-form-button" uib-dropdown-toggle>
                                {{optDropdownSelectLabel}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{ 'filter-OPTIONAL.DROPDOWNSELECTLIST' + $index }}">
                                <li ng-repeat="option in optionalFilter.options"><a class="filter-form-select" ng-click="setOptSelectList(getKey(option)); optionalFilter.value=option[getKey(option)];">{{getKey(option)}}</a></li>
                            </ul>
                        </div>
                    </div>
	            </div>
	            <div ng-if="optionalFilter.type=='OPTIONAL.DROPDOWNREMOTE'">
	                <div class="form-group form-group-sm">
	                    <label for="{{ 'filter-OPTIONAL.DROPDOWNREMOTE' + $index }}">{{optionalFilter.label}}:</label>
                        <div class="btn-group" uib-dropdown>
                            <button ng-init="setDropdownRemote('-- choose a '+optionalFilter.label+' --')" id="{{ 'filter-OPTIONAL.DROPDOWNREMOTE' + $index }}" type="button" class="btn btn-default btn-sm filter-form-button" uib-dropdown-toggle>
                                {{dropdownRemoteLabel}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{ 'filter-OPTIONAL.DROPDOWNREMOTE' + $index }}">
                                <li ng-repeat="option in optionalFilter.options"><a class="filter-form-select" ng-click="setDropdownRemote(option.key); optionalFilter.value=option.key;">{{option.key}}</a></li>
                            </ul>
                        </div>
	                </div>
	            </div>
	            <div ng-if="optionalFilter.type=='OPTIONAL.PROVIDER'">
	                <div class="form-group  form-group-sm">                   
	                      <div class="checkbox" ng-repeat="provider in providers">
							  <label class="filter-form-label form-check-label" >
                                  <input class="filter-form-input form-check-input" type="checkbox" value="provider.value" ng-style="{'margin-top': '7px', 'margin-bottom': '8px', 'padding-top': '7px', 'padding-bottom': '8px'}" ng-model="optionalFilter.value[provider.value]">
		                       {{provider.label}}</label>
						</div>                                  
	                </div>
	            </div>	            
	        </div>
	         <button type="button" class="filter-form-button btn btn-info btn-sm btn-red" ng-click="clearFilter()">Clear Filter</button>
	    </form>
 
    </fieldset>
    
   
 
    <div ng-if="layer.filterCollection.optionalFilters" class="filter-subpanel">
        <div class="col-xs-4">
            <button type="button" class="btn btn-info add-layer-btn" ng-click="addLayer(layer)">Add Layer</button>
        </div>
        <div ng-if="!isLayerAtFront(layer);" class="col-xs-3">
            <span class="expose-btn-txt">Expose</span>
            <i class="fa fa-clone fa-2x dark-blue expose-btn" ng-click="moveLayerToFront(layer)"></i>
        </div>
        <div ng-if="isLayerActive(layer);" ng-class="{'col-xs-offset-3':isLayerAtFront(layer)}" class="col-xs-5 opacity-slider">
            <div >Opacity</div>
            <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
        </div>            
    </div>
 </div>