	<div *ngIf="bShowClipboard" class="panel">
		<div class="panel-heading ">
			<h4 class="panel-title ">Filter Clipboard</h4>
		</div>
		<div class="panel-body">
			<table class="table table-inverse">
				<thead>
					<tr>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngIf="polygonBBox">
						<td class="content-break-word">{{polygonBBox.name}}</td>
					</tr>
				</tbody>
			</table>
			<button (click)='clearClipboard()' type="button" class="btn btn-xsm btn-inverse active">
				<i class="fa fa-times-circle" aria-hidden="true"></i>
				clear
			</button>
			<button (click)='drawPolygon()' type="button" [ngClass]="{'btn-inverse': !isDrawingPolygon, 'btn-grey': isDrawingPolygon}" class="btn btn-xsm btn-inverse active">
				<i class="fa fa-edit" aria-hidden="true"></i>
				draw
			</button>
			<button (click)='toggleFilterLayers()' type="button" [ngClass]="{'btn-inverse': !isFilterLayerShown, 'btn-grey': isFilterLayerShown}" class="btn btn-xsm btn-inverse active">
				<i class="fa fa-mouse-pointer" aria-hidden="true"></i>
				select
			</button>

		</div>
	</div>
