<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">


 <!-- bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
  <property name="supportJaxbElementClass" value="true"/>
  <property name="checkForXmlRootElement" value="false"/>  
  <property name="packagesToScan">
    <list>
      <value>org.csiro</value>
      <value>org.csiro.oai.binding.OAIPMHtype</value>
      <value>org.csiro.oai.dc.binding.OaiDcType</value>
    </list>
  </property>
</bean-->

		 
	 <!-- bean id= "oaiIGSNConverter" class="org.csiro.oai.igsn.binding.JAXBIGSNConverter"/>
	 
	 <bean id= "oaiDCConverter" class="org.csiro.oai.dc.binding.JAXBDCConverter"/>
	 

	<bean id="oaiService" class="org.csiro.oai.OAIService">        
        <constructor-arg name="methodMaker">
            <list>
               <ref bean="oaiDCConverter"/>  
               <ref bean="oaiIGSNConverter"/>                             
            </list>
        </constructor-arg>
    </bean-->
   

</beans>
