<div class="panel-group" id="remanentanomalies-analytic-accordion">
	<!-- BEGIN panel -->
	<div class="panel panel-default panel-bordered">
		<div id="remanentanomalies-analytic" class="panel-collapse collapse" class="in">
			<div class="modal-panel-size">
				<div style="position: inherit;">
					<div class="hidden-xs">
						<a href="{{baseUrl}}getKml.aspx?anomalyid={{anomaliesId}}" data-toggle="tooltip"
							title="Download KML" class="btn btn-default btn-sm"> <i class="ti-download"></i> KML
						</a>
						<a href="{{baseUrl}}getAnomalyData.ashx?anomalyid={{anomaliesId}}" data-toggle="tooltip"
							title="Download GRID" class="btn btn-default btn-sm"> <i class="ti-download"></i> GRID
						</a>
						<a *ngIf="hasAnalyses" href="{{baseUrl}}getAllAnalysesForAnomaly.ashx?anomalyid={{anomaliesId}}" data-toggle="tooltip"
							title="Download Analyses" class="btn btn-default btn-sm"> <i class="ti-download"></i> Analyses
						</a>
						<a *ngIf="hasModel" href="{{baseUrl}}getAllModelsForAnomaly.ashx?anomalyid={{anomaliesId}}" data-toggle="tooltip"
							title="Download Models" class="btn btn-default btn-sm"> <i class="ti-download"></i> Models
						</a>
					</div>

				</div>
				<a target="_BLANK" href="http://remanentanomalies.csiro.au/getJpeg.ashx?anomalyId={{anomaliesId}}"><img
					src="http://remanentanomalies.csiro.au/getJpeg.ashx?anomalyId={{anomaliesId}}" style="height: 90%;" /></a>
			</div>
		</div>

	</div>
	<!-- END panel -->
</div>
