/* NOTO BENE: The max-width size must be that same as used in the Javascript code (app.js) */
@media screen and (max-width: 658px) {
    body  { 
       font-size: 1.4em; 
    }
    
    .filter-form {
        font-size: 1em;
    }
    
    legend {
        font-size: 0.8em;
    }
    
    /* width of layer and query panels */
    .layer-panel, .query-panel {
        width: 370px;
    }
    
    /* width of the next div on top of the underlying layer panel, adjusted for scroll bars */
    table.layer-selection {
        width: 363px; /* = 370 - 6 - 1, where 6 = scroll bar width */
    }
    
    
    /* The icons at the top of the layer panel */
    .layer-icon {
        padding-left: 14px;
        padding-right: 14px;
    }
    
    /* font sizes of layer panel's filter controls */
    .filter-form-button, .filter-form-select, .filter-form-label, .filter-form-input, .filter-form-select {
        font-size: 1.0em !important;
    }
    
    /* Used in the dropdowns in layer panel */
    .filter-form-select {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .add-layer-btn, .apply-btn {
        font-size: 1.2em;
    }
    
    /* Remove controller with magnifier, envelope & lat/lng coords */
    .map-overlay-panel-toggle {      
        top : -10px;
        right : 1em;     
        width: auto;
        position: absolute;   
        z-index: 50;
    }
    
    /* Remove right border from search icon for small screens */ 
    .search-icon-border-right {
        border-right: none;
    }
    
    #layer-menu {
        padding-left:0.5em;
        padding-right:0.5em;
    }
    

    
    
    /* Used to introduce floating progress bar to the map */
    #floating-progressbar{  
      display:block;  
      top : 10px;
      right : 8em;     
      position: absolute;   
      z-index: 50;
      width:150px;  
    }
    
   
    /* Remove controller with magnifier, envelope & lat/lng coords */
    .map-overlay-panel-toggle {          
      background: none;     
    }
    
    /*Remove controller with magnifier, envelope & lat/lng coords */
    .quick-menu div{    
       display:none;
    }
    
    /* Used to introduce the floating progress bar to the map */
    .mobile-only{
        display:block; 
    }
    
    .desktop-only{
        display:none;
    }
    
    /* show layer panel toggle */ 
    .menu-icon-toggle { 
        padding:3px 3px 3px 3px;
        font-size: 2em;
    }
    
    /* hide layer panel toggle  and query panel close */
    .fa.fa-arrow-circle-left, .fa.fa-times  {
        font-size: 2.2em;
    }
    
    /* icons next to layer name */
    .fa-round {
        padding-top: 4px;
        width: 27px;
        height: 27px;
        font-size: 1.7em;
    }

    /* icons next to layer name */
    .fa-round-inverse,
    .icon-box:hover .fa-round,
    .icon-xs-side:hover .fa-round,
    .icon-sm-side:hover .fa-round,
    .icon-lg-side:hover .fa-round {
        font-size: 1.5em;
    }

    /* icons next to layer name */
    .fa-round-disable {
        font-size: 1.7em;
    }
    
    /* delete layer icon */
    .glyphicon.glyphicon-ban-circle {
        font-size: 1.7em;
    }
    
    /* Expandable header for each group of layer reports within layer panel */
    div.panel-heading {
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    
    /* Add buttons on the info panel within the layer panel */
    .info-panel-add {
        padding:4px 4px 4px 4px;
        font-size: 90%;
    }
    
    /* WFS markers in info panel within the layer panel */
    .info-panel-icon {
        width: 20px;
        height: 20px;
    }
    
    /* Detailed text within the info tab of the layer panel */
    .info-panel-text {
        padding-left: 4px;
        padding-right: 4px;
    }
    
    /* Padding for state specific information within info tab of layer panel */
    .nested-accordion .panel-heading {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    /* Panel used for each layer report in the layer panel */
    .panel-body {
        padding: 0px;
    }
    
    /* Slider used to control opacity */
    .opacity-slider {
        font-size: 14px;
    }
    
    .opacity-slider-label {
        font-size: 10px;
    }
    
     /* Query panel carousel core tray image tray */
    .coretray-img {
        width: 270px;
    }
    
}


@media screen and (max-width: 400px) {
    
    /* Make the font slightly larger, because it is harder to read on a small screen */
    body { 
       font-size: 1.5em; 
    }
    
    .filter-form { 
       font-size: 0.9em;
    }
    
    legend {
        font-size: 0.8em;
    }
    
    /* width of layer and query panels */
    .layer-panel, .query-panel {
        width: 315px;
    }
    
    /* width of the next div on top of the underlying layer panel, adjusted for scroll bars */
    table.layer-selection {
        width: 308px; /* = 315 - 6 - 1 , where 6 = scroll bar width */
    }
    
    /* The icons at the top of the layer panel */
    .layer-icon {
        padding-left: 13px;
        padding-right: 13px;
    }
    
    /* font sizes of layer panel's filter controls */ 
    .filter-form-button, .filter-form-select, .filter-form-label, .filter-form-input, .filter-form-select {
        font-size: 1.1em !important;
    }
    
    /* Used in the dropdowns in layer panel */
    .filter-form-select {
        margin-top: 7px;
        margin-bottom: 8px;
        padding-top: 7px;
        padding-bottom: 8px;
    }
    
    .add-layer-btn, .apply-btn {
        font-size: 1.2em;
    }
    
    /* 'logo-menu' is the AuScope logo */
    #logo-menu {  
	  bottom : 3em;
	  left : 0.5em;     
	  width:80px;  
	  display:block;  
	  position: absolute;   
	  z-index: 50;
	}
	#logo-menu  img {  
	  width:80px;  
	}
    
    #layer-menu  {
        padding-left:0.2em;
        padding-right:0.2em;
    }
    
    /* show layer panel toggle */
    .menu-icon-toggle { 
        padding:5px 5px 5px 5px;
        font-size: 2.2em;
    }
    
    /* hide layer panel toggle and query panel close */
    .fa.fa-arrow-circle-left, .fa.fa-times  {
        font-size: 2.5em;
    }

    /* icons next to layer name */
    .fa-round {
        padding-top: 6px;
        width: 35px;
        height: 35px;
        font-size: 2em;
    }

    /* icons next to layer name */
    .fa-round-inverse,
    .icon-box:hover .fa-round,
    .icon-xs-side:hover .fa-round,
    .icon-sm-side:hover .fa-round,
    .icon-lg-side:hover .fa-round {
        font-size: 1.8em;
    }

    /* icons next to layer name */
    .fa-round-disable {
        font-size: 1.8em;
    }
    
    /* delete layer icon */
    .glyphicon.glyphicon-ban-circle {
        font-size: 2em;
    }
    
    /* Expandable header for each group of layer reports within layer panel */
    div.panel-heading {
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    
    /* Add buttons on the info panel within the layer panel */
    .info-panel-add {
        padding:6px 6px 6px 6px;
        font-size: 100%;
    }
    
    /* Headings for detailed text within the info tab of the layer panel */
    .info-details-header {
        text-align: center;
    }
    
    /* WFS markers in info panel within the layer panel */
    .info-panel-icon {
        width: 28px;
        height: 28px;
    }
    
    /* Detailed text within the info tab of the layer panel */
    .info-panel-text {
        padding-left: 4px;
        padding-right: 4px;
    }
    
    /* Padding for state specific information within info tab of layer panel */
    .nested-accordion .panel-heading {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    /* Panel used for each layer report in the layer panel */
    .panel-body {
        padding: 0px;
    }
    
    /* Slider used to control opacity */
    .opacity-slider {
        font-size: 14px;
    }
    
    .opacity-slider-label {
        font-size: 10px;
    }
    
    /* Query panel carousel core tray image tray */
    .coretray-img {
        width: 210px;
    }
    
    /* Query panel carousel core tray image depth text */
    .slick-div span {
        font-size: 0.7em;
    }
    
}




