body  { 
    font-size: 1.3em;
}

.filter-form  {
    font-size: 1em;
}

legend {
    font-size: 0.8em;
    margin-bottom: 5px;
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.filter-form-button {
    font-size: 1.0em !important;
    min-width: 170px;
}

.add-layer-btn, .apply-btn {
    font-size: 1.1em;
}

div.row {
    margin-right: 0px;
    margin-left: 0px;
}

.main-search{
	padding-top:1.5em;	
	padding-left:10px;
}

#layer-menu{
    padding-left:0.7em;
    padding-right:0.7em;
    font-size:1em;
    margin-left: 0em;
    margin-right: 0em;    
}

#layer-menu span{
    font-size:0.8em;	
    display : block;
}

.layer-name {
    vertical-align: middle !important;
}

/* The icons at the top of the layer panel */
.layer-icon {
    padding-left: 15px;
    padding-right: 15px;
}


.dark-blue {
	color: #000080;
}

.red{
	color: #d14f30;
}
.white {
    color: #ffffff;
}

.cyan {
	color: #3dd6ad;
}

.search-icon-border-right{
	border-right:2px solid;
	border-right-color:#808000
}

.btn-red { 
  color: #FFFFFF; 
  background-color: #D14F30; 
  border-color: #D14F30; 
} 
 
.btn-red:hover, 
.btn-red:focus,  
.btn-red.active, 
.open .dropdown-toggle.btn-red { 
  color: #FFFFFF; 
  background-color: #BA2B07; 
  border-color: #D14F30; 
} 
 

.btn-red.active, 
.open .dropdown-toggle.btn-red { 
  background-image: none; 
} 
 
.btn-red.disabled, 
.btn-red[disabled], 
fieldset[disabled] .btn-red, 
.btn-red.disabled:hover, 
.btn-red[disabled]:hover, 
fieldset[disabled] .btn-red:hover, 
.btn-red.disabled:focus, 
.btn-red[disabled]:focus, 
fieldset[disabled] .btn-red:focus, 
.btn-red.disabled:active, 
.btn-red[disabled]:active, 
fieldset[disabled] .btn-red:active, 
.btn-red.disabled.active, 
.btn-red[disabled].active, 
fieldset[disabled] .btn-red.active { 
  background-color: #D14F30; 
  border-color: #D14F30; 
} 
 
.btn-red .badge { 
  color: #D14F30; 
  background-color: #FFFFFF; 
}

::-webkit-scrollbar{width: 6px;}

::-webkit-scrollbar-thumb{background-color:rgb(196, 196, 196); border-radius: 0;}
::-webkit-scrollbar-thumb:hover{background-color:rgb(196, 196, 196);}

::-webkit-scrollbar-track{background-color:rgb(237, 237, 237);}


.activeView-table {
	margin-left:10px;
}

.mini-map{
	height: 150px;
	width: 100%;
}

.full-map{
	height: 100%;
	width: 100%;		
}
.google-map, .angular-google-map,
.angular-google-map-container { 
	height: 100%;	
	width: 100%;
}

/* Used to blank out the map, creating a loading mask */
.map-mask {
    background-image: none;
    background-color: rgba(255,255,255,0.6);
    cursor: default;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none !important;
}

/* Centres the image within the map loading mask */
.map-mask-img {
    position:absolute;
    top: 50%;
    left: 50%;
    width:66px;
    height:66px;
    margin-top: -33px;
    margin-left: -33px;
}

/* Controller with magnifier, envelope & lat/lng coords */
.map-overlay-panel-toggle {      
  top : 10px;
  right : 10px;	  
  position: absolute;   
  z-index: 50;
  width: 200px;
  background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
  background: rgba(54, 25, 25, .5);
  padding:8px 10px 8px 10px;
}

/* Controller with magnifier, envelope & lat/lng coords */
.map-overlay-panel-toggle .col-xs-3{
	padding:0px 8px 0px 8px;
}

/* show layer panel toggle */
.menu-icon-toggle {      
    top : .1em;
    left : 0px;      
    position: absolute;   
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2px 2px 2px 2px;
    font-size: 2em;
}

.menu-icon-toggle > div {
    background-color: rgba(255, 255, 255, 0.0);
}

/* show layer panel toggle */
.fa.fa-arrow-circle-right {
    padding-top: 3px; /* Centre in the middle of its box */
    color: #FF6600;
}


/* hide layer panel toggle and query panel close */
.fa.fa-arrow-circle-left, .fa.fa-times {
    font-size: 2em;
    color: #FF6600;
}

/* delete layer icon */
.glyphicon.glyphicon-ban-circle {
    color:red;
    font-size: 1.5em;
    margin-right:3px;
}

#logo-menu{  
  bottom : 4em;
  left : 0.5em;     
  width:100px;  
  display:block;  
  position: absolute;   
  z-index: 50;
}
    
    
#logo-menu  img{  
  width:120px;  
}



/* textbox css*/
.border-none, .border-none:focus {
	border: none;
	box-shadow: none
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

.hasEvent {
	pointer-events: auto; 
	cursor: pointer;
}


/* style icon */
.inner-addon .leftglyphicon{
  position: absolute;
  padding: 10px;
}

/* align icon */
.left-addon .leftglyphicon  { left:  0px;}
.right-addon .rightglyphicon { right: 0px;
}


/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


/* layer panel*/ 
.layer-panel, .query-panel {
  background:  #ffffff;  
  display: block;
  width: 30em;
  overflow: auto;
  position: absolute;
  left : 0em;	
  height: 100%;
  z-index: 55;    	
 
}




.layer-panel.ng-hide {
  animation: fadeOutLeft 1s;
}

.query-panel.ng-hide {
  animation: fadeOut 1s;
}


.no-animation {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
}


/* header of the layer panel */
.layer-panel-header, .query-panel-header {
	margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
	
}

.accordion-header-override .panel-title{
	font-size:1.0em;
    display: inline;
}

.panel-selected>.panel-heading {
  background-color: #d14f30;  
  color: white;  
}

.nested-accordion .panel-heading {
    padding: 5px 5px;
    background-color: #c2dcea;
    color: #086f84;
}

.nested-accordion select{
	width:100%;
}

.nested-accordion .row{
    padding:3px 3px;
}

/* icons used in the layer panel */
.fa-round {
  padding-top: 4px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 25px; 
  height: 25px;
  text-align: center;
  font-size: 1.5em;
  color: #337ab7;
}

.fa-round-inverse,
.icon-box:hover .fa-round,
.icon-xs-side:hover .fa-round,
.icon-sm-side:hover .fa-round,
.icon-lg-side:hover .fa-round {
  background-color: #d14f30;
  color: white;
  font-size: 1.5em;
}

.fa-round-disable {
  color: #D0D0D0;
  font-size: 1.5em;
  cursor: not-allowed;
}

/* layer selection table in the layer panel */
table.layer-selection {
    width: 27em;
}

.layer-selection .layer-selected{
    background-color:#f0f8ff;    
    
}

.layer-selection .layer-row:hover{
    background-color: #d9e8ef;
}


/* progress bar used for adding layers */
.progress {
  background-color: #838383;

}


.margin-right{
	margin-right: 5px;
}

.margin-top-5{
    margin-top: 5px;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}

.hr-10{
	margin-top:10px;
	margin-bottom:10px;
}


.hr-dark-scheme{
    border-color:#c4c4c4;
    background-color:#c4c4c4;    
    color: #c4c4c4;
}

.render-status-panel div{
	font-size:1em;
	padding-left:3px;
}

.quick-menu div,
.quick-menu div a{	
	font-weight: bold;
	color: white;
	text-align: center;
}

.quick-menu div input {
    color: rgb(100, 100, 100);
    border-color: #3dd6ad;
    border-style: solid;
}


.middle-mask{	
  width: 100%;
  height: 100%;  
  display: table;
  text-align: center;
}

.middle-mask > span {
  display: table-cell;
  vertical-align: middle;    
}


.desktop-only{
	display:block;
}

.mobile-only{
    display:none;
}

fieldset.show-fieldset-borders{
	border: 1px solid #c4c4c4;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

.show-fieldset-borders legend{
	width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}


.querier-div .panel-heading {
	background-color: #CCEBF6;
	border-radius: 4px 4px 20px 20px;
	word-wrap: break-word;
}

.querier-div .panel-title {
	font-size: 1em;
	
}

.querier-div .panel-default {
	border-color: lightblue;
	border-radius: 4px 4px 20px 20px;
	border-width: 2px;
	border-style: solid;
}

.querier-div  .panel-body {
	border-top-color: #FFFFFF !important; /* "!important" prevents this rule being overridden by Bootstrap default */
	border-style: none;
	color: blue;
	word-wrap: break-word;
	padding: 7px;
}

.querier-xml-tag {
	color: #180A92;
	font-weight: bold;
}

.querier-div a:hover {
	text-decoration: underline #2D76C4;
}

.querier-div a {
	text-decoration: none;
}

.querier-xml-attrname {
	color: #2D76C4;
	font-weight: normal;
}

.querier-xml-attrval {
	color: #4997EB;
	font-style: italic;
	font-weight: normal;
}

/* Modified version of 'hvr-glow' taken from 'hover-min.css'
The 'transform' rules in the original 'hvr-glow' create a new stacking context, and because of their stacking order
the icons will appear in front of dropdown menus, regardless of dropdown menus' z-index setting. Thus the rules must be removed. */
.hvr-glow-local {
    display:inline-block;
    vertical-align:middle;
    /*-webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);*/
    box-shadow:0 0 1px transparent;
    -webkit-transition-duration:.3s;
    transition-duration:.3s;
    -webkit-transition-property:box-shadow;
    transition-property:box-shadow;
}
.hvr-glow-local:active,.hvr-glow-local:focus,.hvr-glow-local:hover {
    box-shadow:0 0 8px rgba(0,0,0,.6)
}


/* 'Add' buttons on the info panel within the layer panel */
.info-panel-add {
    padding:2px 2px 2px 2px;
    vertical-align: middle;
}

/* WFS markers in info panel within the layer panel */
.info-panel-icon {
    width: 16px;
    height: 16px;
}

/* Slider used to control opacity */
.opacity-slider {
    font-size: 14px;
}
    
.opacity-slider-label {
    font-size: 10px;
}

/* Rules for filter panel whne it has no controls */
.no-filter-msg {
    top: -0.6em;
}

.no-filter-subpanel {
    padding-bottom: 20px;
    padding-top:20px;
}

/* Rules to make label for slider sit behind it */ 
.no-filter-subpanel .opacity-slider > div {
    position: absolute;
    top: -0.3em;
    bottom: 0;
    left: 1.5em;
    right: 0;
    opacity: 0.3;
}

.no-filter-subpanel .opacity-slider > .rzslider {
    top: -0.6em;
    left: 0;
    opacity: 1.0;
}

.filter-subpanel .opacity-slider > div {
    position: absolute;
    top: -1em;
    bottom: 0;
    left: 2.5em;
    right: 0;
    opacity: 0.3;
}

.filter-subpanel  .opacity-slider > .rzslider {
    top: -1em;
    left: 0;
    opacity: 1.0;
}

div[ng-controller="capdfHydrogeochemCtrl"] div.col-md-12 {
    padding-right: 0px;
    padding-left: 0px;
}

/* Query panel carousel buttons */
#Carousel > button {
    background-color: #E1CBBB;
}

/* Query panel carousel with core tray images */
#Carousel {
    padding-left: 19px;
    padding-right: 19px;
    background-image: url('../img/coretray_background4.png');
    border-color: #CDB8A8;
    border-width: 2px;
    border-style: solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Query panel carousel buttons */
.slick-prev, .slick-next
{
    width: 40px !important;
    height: 40px !important;
    border-radius: 20px !important;
    background-color: #CDB8A8 !important;
}
.slick-prev
{
    left: -15px !important;
}
.slick-next
{
    right: -15px !important;
}

/* Query panel carousel */
.slick-div {
    border-color: orange;
    border-radius: 4px 4px 4px 4px;
    border-width: 1px;
    border-style: solid;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 3px;
}

/* Make core tray download icon black */
.slick-div  a, .slick-div a:link, .slick-div a:visited, .slick-div a:hover, .slick-div a:active  {
    color: black !important;
}

/* Query panel carousel */
.slick-slide {
    margin-left: 10px;
    margin-right: 10px;
}

/* Icons for downloading core tray images in query panel */
.slide-download {
    float: right;
    position: relative;
    top: 3px;
    right: 3px;
}

/* Override slick's positioning to centre the panel */
.slick-track {
    left: 5px !important;
}

/* Label for core tray images in query panel */
.coretray-label {
    background-color: #AB8D77;
}


/* Query panel carousel core tray busy icon */
.coretray-busy-icon {
    color: #AB8D77;
}

/* Query panel carousel core tray image tray */
.coretray-img {
    width: 290px;
}

/* Move carousel dots upwards */
.slick-dots {
    bottom: 0px !important;
}

/* Layer expose button */
.expose-btn {
    position: absolute;
    top: 0.25em;
    left: 1em;
}

/* Layer expose button text */
.expose-btn-txt {
    font-size: 0.8em;
    top: -1.0em;
    left: 2em;
    position: absolute;
}

/* Layer delete icon positioning */
.glyphicon.glyphicon-ban-circle {
    top: -2px;
}

/* Layer warning alert boxes */
.layer-warning-banner {
    border-radius: 6px;
    border-color: #e6ff99;
    background-color: #e6ff99;
    color: #8c8c8c;
    margin-bottom: 0px;
    padding: 5px;
}

.no-top-border {
    border-top: none !important;
}
