
<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle navbar-notify">
    <i class="ti-bell"></i>
</a>
<div class="dropdown-menu">
    <a class="twitter-timeline" href="https://twitter.com/MonitorSiss">Tweets by Auscope-maintenance</a>
</div>

<!--
<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle navbar-notify" (click)="onGetNotifications()">
    <i class="ti-bell"></i>
  </a>
<ul class="dropdown-menu">
  <li class="notification" *ngFor="let  notification of notifications; let i = index">
    <a href="#">
      <div class="notification-icon bg-primary">
        <i class="ti-apple"></i>
      </div>
      <div class="notification-info">
        <h4 class="notification-title">{{notification.author}}
          <span class="notification-time">{{notification.time | date:'medium'}}</span>
        </h4>
        <p class="notification-desc">{{notification.content}} </p>
      </div>
    </a>
  </li>
</ul>
-->
