<div class="modal-header">
	<h1 class="page-header">
		Disclaimer
	</h1>
</div>
<div class="modal-body">
	The AuScope Discovery Portal and its content is provided on an "as is" and "as available" basis. You understand and
	agree that you use the AuScope Discovery Portal at your own discretion and risk and that you will be solely
	responsible for any damage or loss whatsoever that results from such use including use of any data obtained through
	the AuScope Discovery Portal.
	<br><br>
	Web links to this site from external, third party websites should not be construed as implying any relationships with
	and/or endorsement of the external site or its content by AuScope.
	<br><br>
	If you have any concerns about the veracity of the data or website content, please <a href="mailto:cg-admin@csiro.au?Subject=Auscope-portal"><i
		 class="ti-email"></i><span>Contact us</span></a>
</div>
