<div ng-controller="pressureDbCtrl">    

	<div>
	    <form>
	        <fieldset class="show-fieldset-borders">
		        <legend><small>Color Code Filter:</small></legend>
		        <div class="form-group form-group-sm row">
	                <label for="pressureDb-colorcode" class="col-sm-3 col-form-label">Property</label>
	                <div class="col-sm-9">
                        <div class="btn-group" uib-dropdown>
                            <button id="pressureDb-colorcode" type="button" class="btn btn-default btn-sm filter-form-button" uib-dropdown-toggle>
                                {{propertySelectLabel}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="pressureDb-colorcode">
                                <li><a class="filter-form-select" ng-click="setPropSelectList('Elevation');">Elevation</a></li>
                                <li><a class="filter-form-select" ng-click="setPropSelectList('Length');">Length</a></li>
                            </ul>
                        </div>
	                </div>
	            </div>
	            <div ng-show="param.ccProperty" class="form-group form-group-sm row">
	                <label for="pressureDb-slider-ccLevel" class="col-sm-3 col-form-label">Level</label>
	                <div class="col-sm-9">
	                    <rzslider  id = "pressureDb-slider-ccLevel" rz-slider-model="param.ccLevels" rz-slider-options="slider.options"></rzslider>
	                </div>
	            </div>     
	        
	            <div class="form-group form-group-sm row">
	                <div class="col-sm-offset-3 col-sm-9">
	                    <button type="submit" class="btn btn-primary apply-btn" ng-click="addLayer(layer)">Apply</button>
	                </div>
	            </div>  
		    </fieldset>
	    </form>
	</div>    
</div>