#header-container-innerCt {
	height : 100px !important;
}

#panel-1091 {
	height : 95px !important;
	top : 5px !important;
}

#header-container-innerCt div#panel-1090 {
	left: auto !important;
	right : 10px !important;
	top : 70px !important;
	width : 225px !important;
	z-index: 99;
}

#panel-1091-body {
	height : 95px !important; 
}

#search-controls {
	left : 37%;
	left : 500px;
	right : auto;
	margin-right : 0 !important;
	margin-top : 0 !important;
	position : absolute;
	top : 62px !important;
}

#gamenubar-1092 {
	top : 75px !important;
}