    body {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }

    .screenReaderOnly {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    .olControlPanZoomBar {
        top: 40px !important;
    }
    
    .x-panel-body,
    .x-fieldset-header-text, 
    .x-form-item-label,
    .x-panel-header-title,
    .x-window-header-title,
    .x-tab-inner,
    .x-btn-inner,
    .x-grid-cell-inner {
        color: #2B292A !important;
    }    
     
    .x-grid-item-selected {
        background-color: #ADAFB2 !important;
        color: #2B292A !important;
    }
    
    .x-grid-item-over {
        background-color: #C5CDD8 !important;
        color: #2B292A !important;
    }
    
    .x-grid-cell-inner::before {
        border: none !important;
        color: #2B292A !important;
    }
    
    .x-panel-header-title-default > .x-title-text-default:after {
        display: none;
    }
    .x-panel-header-title-default-framed > .x-title-text-default-framed:after {
        display:none;
    }
    .x-window-header-title-default > .x-title-text-default:after {
        display:none;
    }
    .x-panel-header-title-light > .x-title-text-light:after {
        display:none;
    }
    .x-panel-header-title-light-framed > .x-title-text-light-framed:after {
        display:none;
    }
    .x-panel-header-title-navigation > .x-title-text-navigation:after {
        display:none;
    }
    
    .olControlPanZoomBar .div {
        position: absolute;
    }
    
    #auscope-tabs-panel {
        top: 28px !important;
    }

    #header-container {
        background-color: #2B292A;
        width: 100% !important;
        height: 130px !important;
    }

    #header-container div {
        background-color: #2B292A;
        border: none !important;
    }
        
    #header-container-body div {
        border-color: #2B292A;

    }
    
    #search-controls {
        float: right;
        margin-top: 20px;
        clear: both;
        height: 35px !important;
        margin-right: 20px;
        display: flex;      
        justify-content: space-between;
    }
    
    #activeLayersPanel {
        top: 132px !important;
    }
 
    #header-container-innerCt {
        width: 100%;
        height: 100px;
        color: #ffffff;
        background-color: #2B292A;
        position:fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
        line-height: 60px;        
    }

    #header-container-innerCt div {
        width: 100% !important;
    }
 
    #ausgin-logo {        
        height: 100% !important;
        width: 100% !important;
        position: absolute;
        margin-left: 10px !important;
        background: #2B292A url( "../img/logos/ausgin-logo.png" ) no-repeat top left;
    }
    
    #footer-container {
        height: 60px !important;
    }

    #footer-container div {
        border: none !important;
    }
    
    #footer-container-innerCt {
        width: 100%;
        height: 50px !important;
        background-color: #ffffff;
        line-height: 60px; 
        display: flex;
        justify-content: space-between;
        padding: 5px 5px 5px 5px !important;
        border: none;
    }
    
    #menu-bar {
        width: 100%;
        height: 30px;
        color: #000000;
        position: fixed;
        left: 0px;
        z-index: 1;
        background-color: #FBAD17 !important;
        line-height: 30px;
        margin-top: 25px;
        font: 12px Arial, Tahoma, Helvetica, sans-serif;
    }
    
    #menu-bar ul {
        list-style: none;
        margin-top: 8px;
        padding: 0;
    }

    #menu-bar li img {
        margin-top: -2px;
        position: fixed;
    }
    
    #menu-bar li {
        display: inline-block;
        list-style-type: none;
    }
    
    #center_region {
        top: 130px !important;
    }

    #center_region-body {
        padding-bottom: 22px !important;
    }

    #menu-bar a {
        position:relative;
        padding-left:15px;
        padding-right:30px;    
        text-decoration:none;
        color: #000000;
        left: 15px;
    }

    #search-link-spacer {
        height: 100%;
        width: 15px;
        background: #ffffff url( "../img/spacer.png" ) no-repeat center center;        
    }

    #basic-search-input {
        height: 100%;
        border: 1px solid #ffffff;        
    }
    
    #basic-search-link {
        height: 100%;
        width: 30px;
        background: #ffffff url( "../img/run-search.png" ) no-repeat center center;
        border: 1px solid #ffffff;        
    }
    
    #clear-search-link {
        height: 100%;
        width: 30px;
        background: #ffffff url( "../img/clear-search.png" ) no-repeat center center;
        border: 1px solid #ffffff;     
    }
    
    #advanced-search-link {
        height: 100%;
        width: 30px;
        background: #2B292A url( "../img/advanced-search.png" ) no-repeat center center;
 
    }
    
    #header-controls {
        float: right;
        width: 100%;
        height: 20px;
        font-size: 10pt;
        display: inline;
        line-height: 17px;
        text-align: right;
    }

    #header-controls ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #header-controls li {
        display: inline-block;
        list-style-type: none;
    }

    #header-controls a {
        position:relative;
        padding-left:15px;
        padding-right:15px;    
        text-decoration:none;
        color: #ffffff;
    }
        
    #body-container {
        position: fixed;
        top: 100px;
        bottom: 0px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }


    .related-portal-div {
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
        border-bottom: 1px solid black;
    }


    .centeredlabel {
         margin:15px;
         padding:15px;
         border:1px dotted #999;
         color:#555;
         background: #f9f9f9;
    }


    <!-- AUS-1466 - disable red triangles - they confuse people -->
    .x-grid-dirty-cell {
        background-image:none ! important;
    }
    .x-grid3-dirty-cell {
        background-image:none ! important;
    }
    
    .layerabstractpopupbody {
        padding: 10px; border: none;
    }
    
    
    .multiline-row .x-grid-cell-inner {
        overflow: auto !important;
        white-space: normal !important;
        text-overflow: ellipsis;
        display: block;
    }
	
    .gasearchresult {
        
    }
    
    .gasearchresult .x-panel-body {
        border: none;
    }
    
    .gasearchresult .name {
        font-weight: bold;
        background-color: #f3f3f3;
        width: 100%;
    }
    
    .gasearchresult .description {
        
    }
    
    .gasearchresult .x-box-inner {
        position: unset;
    }
    
    .gasearchresult .links {
        width: 500px;
        height: 30px;
        top: 10px;
        border: none;
    }
    
    .gasearchresult .links a {
        padding-right: 30px;
        position: relative !important;
    }
    
    .dataregistries-checkboxgroup-label {
        position: absolute;
    }