    body {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }

    .screenReaderOnly {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    .olControlPanZoomBar {
        top: 40px !important;
    }
    
    .x-panel-body,
    .x-fieldset-header-text, 
    .x-form-item-label,
    .x-panel-header-title,
    .x-window-header-title,
    .x-tab-inner,
    .x-btn-inner,
    .x-grid-cell-inner,
    .x-form-display-field-default {
        color: #2B292A !important;
    }    
     
    .x-grid-item-selected {
        background-color: #E6E6E6 !important;
        color: #2B292A !important;
    }
    
    .x-grid-item-over {
        background-color: #E6E6E6 !important;
        color: #2B292A !important;
    }
    
    .x-grid-cell-inner::before {
        border: none !important;
        color: #2B292A !important;
    }
    
    .x-panel-header-title-default > .x-title-text-default:after {
        display: none;
    }
    .x-panel-header-title-default-framed > .x-title-text-default-framed:after {
        display:none;
    }
    .x-window-header-title-default > .x-title-text-default:after {
        display:none;
    }
    .x-panel-header-title-light > .x-title-text-light:after {
        display:none;
    }
    .x-panel-header-title-light-framed > .x-title-text-light-framed:after {
        display:none;
    }
    .x-panel-header-title-navigation > .x-title-text-navigation:after {
        display:none;
    }
    
    .olControlPanZoomBar .div {
        position: absolute;
    }
    
    #auscope-tabs-panel {
        top: 0 !important;
    }

    #header-container {
        background-color: #2B292A;
        width: 100% !important;
        height: 130px !important;
    }

    #header-container div {
        background-color: #2B292A;
        border: none !important;
    }
        
    #header-container-body div {
        border-color: #2B292A;

    }
    
    /* wrapper for search controls and links */
    #header-container div#wrapper-search-and-links {
       /* border-top : 1px solid #fff !important; */
       left : auto !important;
       padding : 0;
       position : absolute !important;
       right : 0 !important;
       top : 68px !important;
       width : 765px !important;
    }
    
    div#wrapper-search-and-links a {
        text-decoration : none !important;
        font-size : 12px !important;
    }
    
    div#wrapper-search-and-links a:hover,
    div#wrapper-search-and-links a:focus {
        text-decoration : underline !important;
    }
    
    #search-controls {
        clear: both;
        display: flex;      
        justify-content: space-between;
        color: white !important;
        line-height: 25px;
        height : 25px !important;
        right : 255px;
        left : auto !important;
        position : absolute;
        top : 0 !important;
    }

    #basic-search-input {
        height: 25px;
        border: 1px solid #ffffff;  
        padding-left : 5px;
        width : 105px;
    }

    #search-controls label {
        margin-right: 5px;
    }

    #search-controls a {
        color: white !important;
    }
    
    #activeLayersPanel {
        top: 132px !important;
    }
 
    #header-container-innerCt {
        width: 100%;
        color: #ffffff;
        background-color: #2B292A;
        position:fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
        line-height: 60px;   
        height : 100px !important;     
    }

    /* wrapper for ausgin-logo */
    div#header-container-targetEl {
        height : 59px;
    }

    #header-container-innerCt div {
        width: 100% !important;
    }
 
    #ausgin-logo {        
        width: 100% !important;
        margin-left: 10px !important;
        background: #2B292A url( "../img/logos/ausgin-logo.png" ) no-repeat top left;
        display : block !important;
        height : 59px !important;
        position : relative;
        top : 5px !important;
        width : 100%  !important;
        z-index: 99;
    }
    
    #footer-container {
        height: 60px !important;
    }

    #footer-container div {
        border: none !important;
    }
    
    #footer-container-innerCt {
        width: 100%;
        height: 50px !important;
        background-color: #ffffff;
        line-height: 60px; 
        display: flex;
        justify-content: space-between;
        padding: 5px 5px 5px 5px !important;
        border: none;
    }
    
    #menu-bar {
        width: 100%;
        height: 30px;
        color: #000000;
        position: fixed;
        left: 0px;
        z-index: 1;
        background-color: #FBAD17 !important;
        line-height: 30px;
        font: 12px Arial, Tahoma, Helvetica, sans-serif;
        margin-top : 0 !important;
        top : 100px !important;
    }
    
    #menu-bar ul {
        list-style: none;
        margin-top: 8px;
        padding: 0;
    }

    #menu-bar li img {
        margin-top: -2px;
        position: fixed;
    }
    
    #menu-bar li {
        display: inline-block;
        list-style-type: none;
    }
    
    #center_region {
       border: 1px solid rgb(193, 193, 193) !important;
        top: 130px !important;
    }

    #center_region-body {
        padding-bottom: 25px !important;
        height: 100% !important;
    }

    #menu-bar a {
        position:relative;
        padding-left:15px;
        padding-right:30px;    
        text-decoration:none;
        color: #000000;
        left: 15px;
    }
    
    #basic-search-link {
        height: 25px;
        width: 30px;
        background: #FBAD17 url( "../img/magglass.gif" ) no-repeat center center; 
        border: 1px solid #ffffff;    
    }
    
    #clear-search-link {
        margin-left: 10px;
    }
    
    #advanced-search-link {
        margin-left: 10px;
    }
    
    /* 'contact us' + 'skip to content' wrapper */
    #header-container-innerCt div#ga-header-south-panel-links {
        left: auto !important;
        margin-right : 20px !important;
        right : 10px !important;
        top : 0 !important;
        width : 225px !important;
        z-index: 99;
    }

    /* 'contact us' + 'skip to content' lists */
    #header-container-innerCt div#ga-header-south-panel-links li {
        height : 25px;
        line-height : 25px;
    }

    /* 'contact us' + 'skip to content' links */
    #header-container-innerCt div#ga-header-south-panel-links li a {
        padding-left : 5px !important;
        padding-right : 0 !important;
    }
    
    #header-controls {
        float: right;
        width: 100%;
        height: 20px;
        font-size: 10pt;
        display: inline;
        line-height: 17px;
        text-align: right;
    }

    #header-controls ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #header-controls li {
        display: inline-block;
        list-style-type: none;
    }

    #header-controls a {
        position:relative;
        padding-left:15px;
        padding-right:15px;    
        text-decoration:none;
        color: #ffffff;
    }
        
    #body-container {
        position: fixed;
        top: 100px;
        bottom: 0px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }


    .related-portal-div {
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
        border-bottom: 1px solid black;
    }


    .centeredlabel {
         margin:15px;
         padding:15px;
         border:1px dotted #999;
         color:#555;
         background: #f9f9f9;
    }


    <!-- AUS-1466 - disable red triangles - they confuse people -->
    .x-grid-dirty-cell {
        background-image:none ! important;
    }
    .x-grid3-dirty-cell {
        background-image:none ! important;
    }
    
    .layerabstractpopupbody {
        padding: 10px; border: none;
    }
    
    
    .multiline-row .x-grid-cell-inner {
        overflow: auto !important;
        white-space: normal !important;
        text-overflow: ellipsis;
        display: block;
    }
	
    .gasearchresult {
        
    }
    
    .gasearchresult .x-panel-body {
        border: none;
    }
    
    .gasearchresult .name {
        font-weight: bold;
        background-color: #f3f3f3;
        width: 100%;
    }
    
    .gasearchresult .description {
        
    }
    
    .gasearchresult .x-box-inner {
        position: unset;
    }
    
    .gasearchresult .links {
        width: 500px;
        height: 30px;
        top: 10px;
        border: none;
    }
    
    .gasearchresult .links a {
        padding-right: 30px;
        position: relative !important;
    }
    
    .dataregistries-checkboxgroup-label {
        position: absolute;
    }
    
    .pretendLinkEnabled {
        color:blue; 
        text-decoration:underline; 
        cursor:pointer;
    }
    
    .pretendLinkDisabled {
       color: gray; 
       text-decoration: none;
       pointer: default;
    }
    
    .onlineresourcedetails {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
    
    
    #header-container-innerCt, 
    #header-container-body {
        height : 130px !important;
    }