
	<!-- Modal for querier-->
                <div class="modal-header">
                	<h1 class="page-header">Response: <small>Get Feature Info result</small></h1>
                </div>
				<div class="modal-body">
					
					<div class="panel panel-default">						
						<!-- END panel-heading -->
						<!-- BEGIN panel-body -->
						
						<div class="panel-body">							
							<!-- BEGIN panel-group -->
							<div class="form-inline p-b-15">
								<div class="form-group  form-group-sm">
				                    <label><i class="fa fa-filter" aria-hidden="true"></i> Filter: </label>	                    
									<select class="form-control input-sm" [(ngModel)]="selectLayerNameFilter">
										<option value="ALL" selected="selected">ALL</option>
										<option *ngFor="let uniqueLayerName of uniqueLayerNames">{{uniqueLayerName}}</option>
									</select>
				                </div>
			                </div>
							<div *ngIf="downloading"><h2 class="wip">Downloading <span class="fa fa-circle small"></span><span class="fa fa-circle small"></span><span class="fa fa-circle small"></span></h2></div>
							<div class="panel-group" id="querier-accordion">




				<div class="modal-panel-size">
					<div style="overflow: auto; width: 100%; height: 100%;">					
						<div id="rickshawChart_outer">
							<div id="content_0">
								<form id="left_side_panel_0">
									<h1>Grp1 uTSAT</h1>
									<section>
										<div id="legend_0" class="rickshaw_legend"></div>
									</section>
									<section>
										<div id="renderer_form_0" class="toggler">
											<input type="radio" name="renderer" id="area_0" value="area"> 
											<label for="area_0">area</label> 
											<input type="radio" name="renderer" id="bar_0" value="bar" checked> 
											<label for="bar_0">bar</label> 
											<input type="radio" name="renderer" id="line_0" value="line"> 
											<label for="line_0">line</label> 
											<input type="radio" name="renderer" id="scatter_0" value="scatterplot"> 
											<label for="scatter_0">scatter</label>
										</div>
									</section>
									<section>
										<div id="offset_form">
											<label for="stack">
												<input type="radio" name="offset" id="stack" value="zero" checked="">
												<span>stack</span>
											</label>
											<label for="stream">
												<input type="radio" name="offset" id="stream" value="wiggle">
												<span>stream</span>
											</label>
											<label for="pct">
												<input type="radio" name="offset" id="pct" value="expand">
												<span>pct</span>
											</label>
											<label for="value">
												<input type="radio" name="offset" id="value" value="value">
												<span>value</span>
											</label>
										</div>										
										<div id="interpolation_form" style="display: none;">
											<label for="cardinal">
												<input type="radio" name="interpolation" id="cardinal" value="cardinal" checked="">
												<span>cardinal</span>
											</label>
											<label for="linear">
												<input type="radio" name="interpolation" id="linear" value="linear">
												<span>linear</span>
											</label>
											<label for="step">
												<input type="radio" name="interpolation" id="step" value="step-after">
												<span>step</span>
											</label>
										</div>
									</section>
									<section>
										<h6>Smoothing</h6>
										<div id="smoother_0"></div>
									</section>									
								</form>
								<div id="chartcontainer_0">
									<div id="y_axis_0"></div>
									<div id="chart_0"></div>
									<div id="x_axis_0"></div>
								</div>
								<div id="preview_0"></div>
								
							</div>
						</div>
					  </div>
				   </div>
				












				<!-- BEGIN panel -->
								<div *ngFor="let doc of docs | querierFeatureSearchPipe:selectLayerNameFilter" class="panel panel-default panel-bordered">
									<!-- BEGIN panel-heading -->
									<div class="panel-heading" id="headingOne">
										<h4 class="panel-title">
											<a href="#{{doc.key}}" (click)="collapse[doc.key]=!collapse[doc.key];parseTree(doc);" class="accordion-link" data-toggle="collapse" data-parent="#querier-accordion">
												{{doc.key}}
											</a>
										</h4>
									</div>
									<!-- END panel-heading -->
									<!-- BEGIN panel-collapse -->
									<div id="{{doc.key}}" class="panel-collapse collapse" [ngClass]="{'in' :collapse[doc.key]}">
										<div class="panel panel-default panel-with-tabs">
											<!-- BEGIN panel-heading -->
											<div class="panel-heading">
												<ul id="querier-panel-tab" class="nav nav-tabs pull-right">
													<li (click)="doc.home=true;doc.analytic=false;" [ngClass]="{'active':doc.home}"><a href="#{{doc.key}}-panel-tab-home" data-toggle="tab"><i class="fa fa-home"></i> <span class="hidden-xs">WFS</span></a></li>
													<li (click)="doc.home=false;doc.analytic=true" [ngClass]="{'active':doc.analytic}" *ngIf="analyticMap[doc.layer.id]" ><a href="#{{doc.key}}-panel-tab-profile" data-toggle="tab"><i class="fa fa-user"></i> <span class="hidden-xs">Analytic</span></a></li>
												</ul>
												<h4 class="panel-title">Feature Detail</h4>
											</div>
											<!-- END panel-heading -->
											<!-- BEGIN tab-content -->
											<div id="panel-tab-content" class="tab-content">
												<!-- BEGIN tab-pane -->												
												<div *ngIf="doc.key !== 'Server Error'" class="tab-pane fade" [ngClass]="{'active in':doc.home}" id="{{doc.key}}-panel-tab-home">													
													<tree *ngIf="JSONTreeStruct[doc.key]" [tree]="JSONTreeStruct[doc.key]" [attr.id]="doc.key"></tree>
												</div>
												<div *ngIf="doc.key === 'Server Error'" class="tab-pane fade" [ngClass]="{'active in':doc.home}" id="{{doc.key}}-panel-tab-home">													
													<p>Sorry - server has returned an error message. See browser console for more information</p>
												</div>
												<!-- END tab-pane -->
												<!-- BEGIN tab-pane -->
												<div *ngIf="analyticMap[doc.layer.id]" class="tab-pane fade" [ngClass]="{'active in':doc.analytic}" id="{{doc.key}}-panel-tab-profile">																										
													<app-custom-analytic [layer]="doc.layer" [load]="doc.loadSubComponent" [onlineResource] = "doc.onlineResource" [featureId]="doc.key"></app-custom-analytic>
												</div>
												<!-- END tab-pane -->
											</div>
											<!-- END tab-content -->
										</div>
									</div>
									<!-- END panel-collapse -->
								</div>
								<!-- END panel -->
							</div>
							<!-- END panel-group -->
						</div>
						<!-- END panel-body -->
					</div>
				</div>
				<div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
				</div>
