
	<!-- Modal for querier-->
                <div class="modal-header">
                	<h1 class="page-header">Response: <small>Get Feature Info result</small></h1>
                </div>
				<div class="modal-body">
				
					<div class="panel panel-default">
						
						<!-- END panel-heading -->
						<!-- BEGIN panel-body -->
						<div class="panel-body">							
							<!-- BEGIN panel-group -->
							<div *ngIf="downloading"><h2 class="wip">Downloading <span class="fa fa-circle small">&nbsp</span><span class="fa fa-circle small">&nbsp</span><span class="fa fa-circle small">&nbsp</span></h2></div>
							<div class="panel-group" id="querier-accordion">
								<!-- BEGIN panel -->
								<div *ngFor="let doc of docs | getKey" class="panel panel-default panel-bordered">
									<!-- BEGIN panel-heading -->
									<div class="panel-heading" id="headingOne">
										<h4 class="panel-title">
											<a href="#{{doc.key}}" (click)="collapse[doc.key]=!collapse[doc.key];parseTree(doc.key,doc.value)" class="accordion-link" data-toggle="collapse" data-parent="#querier-accordion">
												{{doc.key}}
											</a>
										</h4>
									</div>
									<!-- END panel-heading -->
									<!-- BEGIN panel-collapse -->
									<div id="{{doc.key}}" class="panel-collapse collapse" [ngClass]="{'in' :collapse[doc.key]}">
										<div class="panel panel-default panel-with-tabs">
											<!-- BEGIN panel-heading -->
											<div class="panel-heading">
												<ul id="panel-tab" class="nav nav-tabs pull-right">
													<li class="active"><a href="#{{doc.key}}-panel-tab-home" data-toggle="tab"><i class="fa fa-home"></i> <span class="hidden-xs">Home</span></a></li>
													<li><a href="#{{doc.key}}-panel-tab-profile" data-toggle="tab"><i class="fa fa-user"></i> <span class="hidden-xs">NVCL</span></a></li>
												</ul>
												<h4 class="panel-title">Feature Detail</h4>
											</div>
											<!-- END panel-heading -->
											<!-- BEGIN tab-content -->
											<div id="panel-tab-content" class="tab-content">
												<!-- BEGIN tab-pane -->												
												<div *ngIf="doc.key !== 'Server Error'" class="tab-pane fade in active" id="{{doc.key}}-panel-tab-home">													
													<tree *ngIf="JSONTreeStruct[doc.key]" [tree]="JSONTreeStruct[doc.key]" [attr.id]="doc.key"></tree>
												</div>
												<div *ngIf="doc.key === 'Server Error'" class="tab-pane fade in active" id="{{doc.key}}-panel-tab-home">													
													<p>Sorry - server has returned an error message. See browser console for more information</p>
												</div>
												<!-- END tab-pane -->
												<!-- BEGIN tab-pane -->
												<div class="tab-pane fade" id="{{doc.key}}-panel-tab-profile">																										
													<p>demo NVCL</p>
													
												</div>
												<!-- END tab-pane -->
											</div>
											<!-- END tab-content -->
										</div>
									</div>
									<!-- END panel-collapse -->
								</div>
								<!-- END panel -->
							</div>
							<!-- END panel-group -->
						</div>
						<!-- END panel-body -->
					</div>
				</div>
				<div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
				</div>
