<div class="filter-form">
	<div class="form-group">
		<div *ngIf="bbox">
			<div class="row">
				<span class="label label-info col-xs-4 col-xs-offset-4">North: {{bbox.northBoundLatitude | number:'1.0-5'}}</span>
			</div>
			<div class="row">
				<span class="label label-info col-xs-3">West: {{bbox.westBoundLongitude | number:'1.0-5'}}</span> 
				<span class="label label-info col-xs-3 col-xs-offset-6">East: {{bbox.eastBoundLongitude | number:'1.0-5'}}</span>
			</div>
			<div class="row">
				<span class="label label-info col-xs-4 col-xs-offset-4">South: {{bbox.southBoundLatitude | number:'1.0-5'}}</span>
			</div>
		</div>
		<button *ngIf="!bbox" type="button" class="btn btn-info btn-xs" (click)="drawBound()">Select Bounds</button>
		<button *ngIf="bbox" type="button" class="btn btn-danger btn-xs" (click)="clearBound()">Clear Bounds</button>
		<button type="button" class="btn btn-info btn-xs pull-right" (click)="download()">Download</button>
	</div>
</div>