/* You can add global styles to this file, and also import other style files */
/*
Contain Auscope specific modification to the original template.

*/
.layer-panel{
	left:-100px;
	width:319px;
}

.float-sub-menu .layer-panel{
		left:-53px;
		width:315px;
}

.sub-menu .panel .panel-heading{
	height:43px;
}

.display-none{
	display: none!;
}

.display-block{
	display: block!;
}

.width-80{
	width: 80%;
}

.sidebar-panel-menu-show{	
	list-style-type: none;
	margin: 0;
	padding: 5px 0;
	margin-left: 31px;
	font-size: 12px;
}

.hasEvent {
	pointer-events: auto; 
	cursor: pointer;	
}

.light-blue{
	color: #7a7ae6;
}

.content-break-word{
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;
}

.cyan-bg{
	background: #5ac7f9;
}

.cyan-color{
	color: #5ac7f9;
}

/*
max-width: 768px(small screen)
*/
@media (max-width: 768px) {
	.layer-panel{
		left:-60px;
		width:100%;
	}
	
	.layer-panel > .panel-heading li > a{
		height:30px;
	}
	
	.desktop-only{
		display: none!important
	}
	
	.mobile-only{
		display:block;
	}
	
}

@media (min-width: 768px) {
		
	.mobile-only{
		display: none!important
	}
	
	.desktop-only{
		display:block;
	}
	
}
