<div class="filter-form" ng-controller="loadFilterCtrl">
    
    	<div *ngIf="layer.filterCollection">
	        <div  *ngFor="let mandatoryFilter of layer.filterCollection.mandatoryFilters">
	            <div *ngIf="mandatoryFilter.type == 'MANDATORY.CHECKBOX'">
	                <div class="form-group  form-group-sm">
	                	<div class="checkbox">
							<input type="checkbox" [(ngModel)]="mandatoryFilter.value"/>
							<label>
								{{mandatoryFilter.label}}
							</label>
						</div>
	                                                       
	                </div>
	            </div> 
	            <div *ngIf="mandatoryFilter.type == 'MANDATORY.DROPDOWNSELECTLIST'">
	                <div class="form-group  form-group-sm">
	                    <label>{{mandatoryFilter.label}}</label>	                    
						<select class="form-control">
							<option value="" selected="selected">-- choose a {{mandatoryFilter.label}} --</option>
							<option *ngFor="let option of mandatoryFilter.options">{{getKey(option)}}</option>
						</select>
	                </div>
	            </div>                        
	        </div>
	        
        </div>
        
        <div *ngIf="!layer.filterCollection">
	        <div class="alert cyan-bg fade in">
                <span class="close" data-dismiss="alert">x</span>
                <i class="ti-bell f-s-20 pull-left m-r-10"></i>
                <p>There are no filters associated with this layer</p>
            </div>
           
    	</div>
    	
    	<fieldset *ngIf="layer.filterCollection && layer.filterCollection.optionalFilters" class="show-fieldset-borders">
        	<legend><h5>Optional Filters</h5></legend>
        	<div class="form-group  form-group-sm">
	            <label>Select Filter:</label>        			  
                <select class="form-control">
					<option value="" selected="selected">-- choose a filter--</option>
					<option *ngFor="let filt of layer.filterCollection.optionalFilters">{{filt.label}}</option>
				</select>			   
		    </div>
	    </fieldset>
    	<button type="button" class="btn btn-info btn-sm" (click)="addLayer(layer)">Add Layer</button>
</div>