<!-- li><a appStopPropagation (click)="generatePermanentLink()"><i class="ti-link">Permanent Link</i></a></li-->

<a class="popup" (click)="showPermanentLink=!showPermanentLink;generatePermanentLink()"><i class="ti-link"></i><span>Permanent Link</span>
	<div class="popuptext p-10" [ngClass]="{'show':showPermanentLink}" id="myPopup">
		<div class="form-group">
			<button for="permanentlink-text-copy" class="col-sm-2 btn btn-grey" ngxClipboard [cbContent]="permanentlink" type="button"><span 
				class="glyphicon glyphicon-duplicate"></span></button>
			<div class="col-sm-10" style="padding-left: 0px;" appStopPropagation>
				<input type="text" readonly class="form-control" id="permanentlink-text-copy" [(ngModel)]=permanentlink>
			</div>
			
		</div>		
	</div>
</a>



