body.NVCLDSBody {
}

h2.NVCLDSh2 {
  padding:8px;
  text-align:center;
}

table.NVCLDSTable {
  background:#CCFFFF;
  margin-left:auto; 
  margin-right:auto;
  width:800;
  border: 2px solid #000066;
}

table.usageTable {
	border: 1px solid black;
	border-collapse:collapse;
}

table.usageTable td, table.usageTable th {
	border: 1px solid black;
	padding:8px;
}

table.NVCLDSTable td, table.NVCLDSTable th {
  padding:8px;
}

table.NVCLDSTable thead {
  background-color:#99CCCC;
}




